@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor {
    font-size: 1.05rem;
}

.dark .ql-toolbar {
    background-color: #27272A;
    color: #EEE;
}

.ql-toolbar {
    background-color: rgba(240, 240, 240, 1);
}

.dark .ql-editor.ql-blank::before {
    color: #888 !important;
}

.ql-snow .ql-stroke {
    stroke: #AAA;
}

.ql-snow .ql-picker {
    color: #AAA;
}

.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
    fill: #AAA;
}

* {
    box-sizing: border-box;
}

html {
    background-color: rgb(0, 0, 0);
}

input {
    border: none !important;
}

.post-content p {
    margin-bottom: 0.5rem;
}

.post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
}

.post-content a:hover {
    text-decoration: underline;
}

.dark .post-content a {
    color: red;
}

:is(.dark .dark\:bg-gray-900) {
    background: transparent !important;
}

:is(.dark .dark\:text-gray-400) {
    color: rgba(192, 192, 192, 1) !important;
}

:is(.dark .dark\:bg-gray-700) {
    background-color: rgb(39, 39, 42) !important;
}

:is(.dark .dark\:bg-gray-800) {
    background-color: rgb(49, 49, 52) !important;
}

:is(.dark .dark\:enabled\:hover\:bg-green-700:hover:enabled) {
    background-color: transparent !important;
}

.text-gray-500 {
    color: rgba(192, 192, 192, 1);
}

@-webkit-keyframes autofill {

    0%,
    100% {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-delay: 1s;
    /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

input#email,
input#password,
input#username,
input#title,
select#postCategory {
    border: 0px;
    outline: 0px;
}

input#email:focus,
input#password:focus,
input#username:focus,
input#title:focus,
select#postCategory:focus {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

input#email:focus-visible,
input#password:focus-visible,
input#username:focus-visible,
input#title:focus-visible,
select#postCategory:focus-visible {
    outline: 0px !important;
    border: rgba(1, 1, 1, 0);
}

input#email:hover,
input#password:hover,
input#username:hover,
input#title,
select#postCategory {
    outline: 0px !important;
    border: rgba(1, 1, 1, 0);
}

.custom-navbar-light,
.custom-navbar-dark,
.custom-navbar-active-light,
.custom-navbar-active-dark {
    background-color: transparent;
    padding: 0.5em 1em !important;
}

.custom-navbar-active-light,
.custom-navbar-light {
    color: rgba(192, 192, 192, 1);
    border-bottom: 0.1em solid rgba(240, 240, 240, 1);
}

.custom-navbar-light:hover {
    background-color: rgba(248, 248, 248, 1) !important;
    color: rgba(0, 0, 0, 1) !important;
}

.custom-navbar-active-light {
    color: #34D399 !important;
    border-color: #34D399 !important;
}

.custom-navbar-active-dark,
.custom-navbar-dark {
    color: rgba(192, 192, 192, 1);
    border-bottom: 0.1em solid rgba(49, 49, 52, 1) !important;
}

.custom-navbar-dark:hover {
    background-color: rgba(49, 49, 52, 1) !important;
    color: #FFF !important;
}

.custom-navbar-active-dark {
    color: #34D399 !important;
    border-color: #34D399 !important;
}

/* CreatePost.jsx custom button */
.customUploadImageButton:focus {
    box-shadow: 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.3) !important;
    filter: brightness(90%);
}

.customUploadImageButton:hover {
    filter: brightness(90%);
    box-shadow: 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.3) !important;
}


.dark .customUploadImageButton:focus {
    filter: brightness(90%);
    box-shadow: 0.2rem 0.2rem 0 0 rgba(255, 255, 255, 0.3) !important;
    /* zmieniony kolor cienia dla ciemnego motywu */
}

.dark .customUploadImageButton:hover {
    filter: brightness(90%);
    box-shadow: 0.2rem 0.2rem 0 0 rgba(255, 255, 255, 0.3) !important;
    /* zmieniony kolor cienia dla ciemnego motywu */
}

/*  */